body {
	margin: 0;
	padding: 0;
	background: #ECECEC;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

form {
	background: #FFF;
	width: 500px;
	max-width: 85%;
	border-radius: 15px;
	padding: 50px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

h1 {
	margin-top: 0;
	margin-bottom: 0;
	font-family: Inter, Arial;
	font-size: 36px;
}

p {
	font-family: Inter, Arial;
	font-size: 15px;
}

p label {
	display: block;
	font-family: Inter, Arial;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: -0.25px;
}

p input {
	padding: 15px 20px;
	border: 1px solid #CCC;
	border-radius: 5px;
	width: 100%;
	box-sizing: border-box;
	font-family: Inter, Arial;
	font-size: 15px;
	margin-top: 10px;
}

button {
	background: #000;
	color: #fff;
	font: 500 15px/24px Inter, Arial;
	border: none !important;
	border-radius: 5px;
	padding: 15px 30px;
	cursor: pointer;
	transition: all .3s;
	margin-right: auto;
}

button:hover {
	background: #F00;
}

#error {
	background: #ECECEC;
	font-size: 10px !important;
	padding: 0 20px;
}

#error p {
	font-size: 12px;
}

#fullname,
#username,
#connect {
	margin-bottom: 0;
}

a {
	text-decoration: none;
}

a:hover {
	color: #F00;
}
